#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

body{
  background: linear-gradient(45deg, #f0f8ff, #c2e9fb, #a1c4fd) no-repeat;
  min-height: 100vh
}

.startScreen {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.introduction {
  font-size: var(--step-1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  justify-content: center;
}

.startButton {
  background: linear-gradient(to bottom, red 50%, white 50%);
  border: 3px solid black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-weight: bold;
  color: black;
  position: relative;
  cursor: pointer;
}

.startButton::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background: white;
  border: 3px solid black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.startButton:hover {
  box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.7);
  animation: vibrate 0.2s infinite;
}

@keyframes vibrate {
  0% { transform: translate(0); }
  25% { transform: translate(-1px, 1px); }
  50% { transform: translate(1px, -1px); }
  75% { transform: translate(-1px, -1px); }
  100% { transform: translate(1px, 1px); }
}


.muteButton {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.pokeball {
  margin-top: 50px;
  width: 50px;
  height: 50px;
  animation: rotating 1s ease-in-out infinite;
}

.shadow {
  border-radius: 100%;
  background-color: #444444;
  animation: shadow 1s ease-in-out infinite;
}

@keyframes rotating {
  from {
    rotate: 0deg;
    translate: 0 -30px;
  }
  to {
    rotate: 360deg;
    translate: 0 0;
  }
}

@keyframes shadow {
  from {
    width: 45px;
    height: 20px;
  }
  to {
    width: 4px;
    height: 2px;
  }
}

.pointsContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #FFD700;
  background: linear-gradient(135deg, #f8f9fa, #ffeaa7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: var(--step--1);
  padding: 10px
}

.pokemonImg {
  width: 100%;
  height: auto;
}

.cardContainer:hover .pokemonImg {
  transform: scale(2);
  transition: transform 1s ease;
}

.cardContainer:hover {
  animation: shake 0.3s ease-in-out 1
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(1deg); }
  50% { transform: rotate(-1deg); }
  75% { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}