#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body{
  background: linear-gradient(45deg, #f0f8ff, #c2e9fb, #a1c4fd) no-repeat;
  min-height: 100vh
}

.introduction {
  font-size: var(--step-2);
}

.pointsContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #FFD700;
  background: linear-gradient(135deg, #f8f9fa, #ffeaa7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: var(--step--1);
  padding: 10px
}

.pokemonImg {
  width: 100%;
  height: auto;
}

.cardContainer:hover .pokemonImg {
  transform: scale(2);
  transition: transform 1s ease;
}

.cardContainer:hover {
  animation: shake 0.3s ease-in-out 1
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(1deg); }
  50% { transform: rotate(-1deg); }
  75% { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}